.login {
  width: 400px;
  height: fit-content;
  padding: 10px 20px;
  box-shadow: 2px 2px 6px 2px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .errorMessage {
    margin: 20px 0px;
    color: red;
  }
}
